html{
    font-size: 16px;
    background-color: rgb(238, 246, 243)
}

*{
    font-family: Arial, Helvetica, sans-serif
}

h2{
    color: teal;
    font-size: 20px;
    
}

li{
    color: darkcyan;
    font-size: 16px;
}

a{
    color: rgb(2, 68, 25);
    font-size: 12px;
}


img {
    max-width: 100%;
    height: auto; 
}
